<%- include('partials/header.ejs') %>
    <div class="post-container">
        <h1>Create a post</h1>

        <form action="/save-post" method="POST">
            <label for="blog-title">Blog Title:</label>
            <textarea id="blog-title" name="blog-title" rows="1" cols="66" required><%= formData.blogTitle || '' %></textarea>
            <% if (locals.errors.blogTitle) { %>
                <p style="color:red;"><%= errors.blogTitle %></p>
            <% } %>
        
            <label for="blog-content">Blog Content:</label>
            <textarea id="blog-content" name="blog-content" rows="5" cols="66" required><%= formData.blogContent || '' %></textarea>
            <% if (locals.errors.blogContent) { %>
                <p style="color:red;"><%= locals.errors.blogContent %></p>
            <% } %>
        
            <button type="submit">Save</button>
        </form>

    </div>
    <%- include('partials/footer.ejs') %>