<%- include('partials/header.ejs') %>
<div class="post-container">
    <h1><%= title %></h1>

    <form action="<%= index !== undefined ? `/update-post/${index}` : '/save-post' %>" method="POST">
        <div class="blog-title-form">
            <label for="blog-title">Blog Title:</label>
            <textarea id="blog-title" name="blog-title" required><%= formData.blogTitle || '' %></textarea>
            <% if (locals.errors.blogTitle) { %>
                <p style="color:red;"><%= errors.blogTitle %></p>
            <% } %>
        </div>
    
        <div class="blog-content-form">
            <label for="blog-content">Blog Content:</label>
            <textarea id="blog-content" name="blog-content" required><%= formData.blogContent || '' %></textarea>
            <% if (locals.errors.blogContent) { %>
                <p style="color:red;"><%= locals.errors.blogContent %></p>
            <% } %>
        </div>
    
        <div class="blog-button-form">
            <button type="submit" class="btn-primary btn-save-or-edit btn-save">Save</button>
        </div>
    </form>
</div>
<%- include('partials/footer.ejs') %>