<%- include('partials/header.ejs') %>
    <div class="post-container">
        <h1>
            <%= blogTitle %>
        </h1>
        <div class="blog-content">
         <%- blogContent %>
        </div>

    </div>

    <div class="edit-an-delete-btn-container">
        <a href="/delete/<%= index %>" class="btn-primary btn-delete">Delete post</a>
        <a href="/edit/<%= index %>" class="btn-primary btn-save-or-edit">Edit post</a>
    </div>  
    <%- include('partials/footer.ejs') %>