<%- include('partials/header.ejs') %>
    <div class="post-container">
        <h1>
            <%= blogTitle %>
        </h1>
        <div class="blog-content">
         <%- blogContent %>
        </div>

        <div class="edit-an-delete-btn-container">
            <div class="delete-btn-container">
                <form action="/delete-post/<%= index %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this post?');">
                    <button type="submit" class="btn-primary btn-delete">Delete post</button>
                </form>
            </div>
            <a href="/edit/<%= index %>" class="btn-primary btn-save-or-edit">Edit post</a>
        </div>  
    </div>

    <%- include('partials/footer.ejs') %>